extends ./layouts/base.pug

block title 
    title Page Not Found 
block styles 
    link(rel="stylesheet", href="#")

block main-body 
    h1 Error 404
    h3 Page not Found
    p We can't find the page you are looking for. Go back to the home page 
    a(href="/") Home 