extends ../layouts/base.pug

block title
    title Personal Fintech 

block styles
    link(rel="stylesheet", href="/css/entry.css")

block main-body
    .main 
        h1.heading Personal Fintech
        p.heading_description Manage your day to day finances in the best way
        a.btn(href="/auth/login") Login 
        a.btn(href="/auth/register") Register 

    